body{
  background-color: #b8b8b8;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

#content{
  width: 800px;
  padding: 20px 30px;
  background-color: #fff;
  margin: 0 auto;
}

h1{
  font-size: 26px;
  line-height: 30px;
  color: #333;
  font-weight: normal;
  margin: 20px 0 10px;
}

h2{
  font-size: 36px;
  line-height: 46px;
  color: #333;
  font-weight: normal;
  font-style: italic;
  margin: 40px 0 20px;
}

.fixed{
  position: fixed;
  top: 20px;
  right: 0px;
  width: 200px;
  padding: 20px;
  background: #666;
  font-style: italic;
  color: #fff;
}

#puzzle{
  position: relative;
  height: 460px;
  width: 614px;
  border: solid 5px #333;
  margin: 0 auto;
  background: url(img/v10-watercolor.jpg) no-repeat 0 0;
}
#puzzle img{
  position: absolute;
}

#puzzle #img1{top:0; left: 0;}
#puzzle #img2{top:0; left: 120px;}
#puzzle #img3{top:0; left: 205px;}
#puzzle #img4{top:0; left: 376px;}
#puzzle #img5{top:0; left: 453px;}
#puzzle #img6{top:74px; left:0px;}
#puzzle #img7{top:109px; left: 87px;}
#puzzle #img8{top:81px; left: 238px;}
#puzzle #img9{top:121px; left: 335px;}
#puzzle #img10{top:82px; left:487px;}
#puzzle #img11{top:231px; left: 0px;}
#puzzle #img12{top:192px; left: 121px;}
#puzzle #img13{top:226px; left: 205px;}
#puzzle #img14{top:191px; left: 367px;}
#puzzle #img15{top:195px; left: 520px;}
#puzzle #img16{top:304px; left: 0;}
#puzzle #img17{top:339px; left: 87px;}
#puzzle #img18{top:314px; left: 243px;}
#puzzle #img19{top:388px; left: 365px;}
#puzzle #img20{top:370px; left: 573px;}
